COMPOSE_PROJECT_NAME=payment-app

TZ=Europe/Kiev

APP_OUTER_PORT=8045
DB_OUTER_PORT=8015
DB_PORT=3306

DB_IMAGE=mariadb:10.11.6
DB_HOST=db.pay
DB_NAME=payment_db
DB_USER=payment
DB_PASSWORD=mvsQRS22SD
DB_ROOT_PASSWORD=ZhD3FtyXmN5tnE

PAYMENT_WEBHOOK_URL=http://nginx.pay/v1/api/webhook/payment

MESSENGER_TRANSPORT_DSN=amqp://guest:guest@rabbitmq:5672/%2f/messages